@media (max-width: 800px) {
  .label-menu {
    display: block;
  }
  .label-menu i {
    font-size: 40px;
    color: rgb(234, 234, 240);
  }
  .navbar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(187, 157, 157, 0.993);
    height: 100%;
    width: 100vw;
  }
  .navbar-list {
    flex-direction: column;
  }
  .combo {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    padding: 30px;
  }
  #menu-hamburg:checked + .navbar {
    display: flex;
  }
}
@media (max-width: 430px) {
  #Cartas-eco {
    display: flex;
    flex-flow: wrap;
  }
}

@media (max-width: 430px) {
  .main {
    display: flex;
    flex-flow: wrap;
  }
}
