@media (max-width: 800px) {
  .label-menu {
    display: block;
  }
  .label-menu i {
    font-size: 40px;
    color: rgb(255, 255, 255);
  }
  .navbar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(72, 70, 70, 0.993);
    height: 100%;
    width: 100vw;
  }
  .navbar-list {
    flex-direction: column;
  }
  .combo {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    padding: 30px;
  }
  #menu-hamburg:checked + .navbar {
    display: flex;
  }
}
@media (max-width: 330px) {
  #Cartas-eco {
    display: flex;
    flex-flow: wrap;
  }
}

@media (max-width: 330px) {
  .main {
    display: flex;
    flex-flow: wrap;
  }
}

@media (max-width: 330px) {
  #about {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 330px) {
  .about-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 330px) {
  #footer {
    justify-content: center;
    align-content: center;
  }
}

@media (max-width: 330px) {
  .hero_info a {
    display: flex;
    justify-content: center;
  }
}
